@media only screen and (max-width: 1440px) {

    .header {
        .nav {
            .nav_link {
                gap: 12px;
            }
        }
    }

    .error {
        .glitched {
            font-size: 450px;
        }
    }

    .video {
        .video_img {
            height: 420px;

            .video_main_img {
                object-fit: cover;
            }
        }
    }

    .footer {
        .footer_bottom {
            .footer_link {
                gap: 12px;
                .footer_item {
                    a {
                        font-size: 16px;
                    }
                }
            }

        }
    }
}

@media only screen and (max-width: 1250px) {
    .header {

        .left_logo_media {
            display: block;
            width: 33px;
        }

        .logo_text {
            width: 222px;
        }

        .nav {
            display: none;

            .left_logo {
                margin-right: 0;
            }
        }

        .burger_open {
            display: block;
        }
    }
}

@media only screen and (max-width: 993px) {

    .video {
        .video_card {
            width: calc(100%);

            .video_img {
                height: 480px;
            }
        }
    }

    .contact {
        .contact_form {
            flex-direction: column;
        }

        .form_right {
            textarea {
                height: 146px;
            }
        }

        .main_btn {
            width: 100%;
        }

        p {
            max-width: 100%;
            margin-bottom: 104px;
        }

        .contact_bottom {
            h4 {
                color: $--Primary-White;
            }
        }
    }



    .footer {
        .footer_table {
            display: flex;
            flex-direction: column;
            gap: 36px;

            .footer_table_link {
                @include flex-center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 24px;
    
                .footer_item {
                    a {
                        color: $--Primary-White;
                        font-family: $Inter;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 130%;
                    }
                }
            }

            .footer_bottom_table {
                @include flex-center;
                justify-content: space-between;

                p {
                    color: $--Primary-White;
                    font-family: $Inter;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 100%;
                    opacity: 0.5;
                }

                .footer_policy_link {
                    display: block;
                    color: $--Primary-White;
                    font-family: $Inter;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 100%;
                    padding-bottom: 4px;
                    border-bottom: 1px solid $--Primary-White;
                }
            }
        }
        .footer_bottom {
            display: none;
            .desktop_link {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        color: $--Primary-Black;
        font-family: $Bebas;
        font-size: 40px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 2px;
    }

    h2 {
        color: $--Primary-Black;
        font-family: $Bebas;
        font-size: 30px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 1.5px;
    }

    h3 {
        color: $--Primary-Black;
        font-family: $Bebas;
        font-size: 24px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 1.2px;
    }

    h4 {
        color: $--Primary-Black;
        font-family: $Bebas;
        font-size: 24px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 1.2px;
    }

    .subheader {
        color: $--Primary-Black;
        font-family: $Bebas;
        font-size: 18px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0.9px;
    }







}

@media only screen and (max-width: 576px) {

    h1.main_title {
        font-size: 40px;
    }

    .breadcrumbs {
        margin: 24px 0 30px 0;
    }

    .header {

        .left_logo_media {
            width: 23px;
        }

        .logo_text {
            width: 135px;
        }
    }   

    .video {

        .videos_cards {
            margin-top: 30px;
            gap: 30px;
        }

        .video_card {
            width: calc(100%);

            .video_img {
                height: 240px;
            }

            h6 {
                font-size: 30px;
                line-height: 100%;
                letter-spacing: 1.5px;
                margin: 30px 0 20px 0;
            }

            p {
                font-size: 16px;
                line-height: 125%;
            }
        }

        .main_btn {
            margin: 30px 0 60px 0;
            span {
                padding: 12px;
            }
        }
    }
    
    .contact {

        .main_title {
            margin-bottom: 24px;
        }

        .contact_form_wrapper {
            input,textarea {
                font-size: 16px;
            }
        }

        .contact_bottom {
            padding: 60px 0;
            .main_container {
                flex-direction: column;
            }

            a {
                span {
                    flex-shrink: 0;
                }
            }
        }
    }

    .footer {
        padding: 36px 0;
        .footer_table {
            display: none;
        }

        .footer_top {
            display: none;
        }

        .footer_mobile {
            @include flex-center;
            flex-direction: column;

            .logo_text {
                margin: 12px 0 30px 0;
            }

            .footer_link_media {
                margin-bottom: 30px;
                @include flex-center;
                flex-direction: column;
                gap: 24px;
    
                .footer_item {
                    a {
                        color: $--Primary-White;
                        font-family: $Inter;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 130%;
                    }
                }
            }

            .messenger {
                margin-bottom: 30px;
            }

            .footer_policy_link {
                margin-bottom: 34px;
                color: $--Primary-White;
                font-family: $Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 100%;
                padding-bottom: 4px;
                border-bottom: 1px solid $--Primary-White;
            }

            p {
                color: $--Primary-White;
                font-family: $Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 100%;
                opacity: 0.5;
            }
        }
    }
}