@media only screen and (max-width: 1670px) {
    .bio {
        .bio_right_title {
            h2 {
                font-size: 86px;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 4.3px;

                &::after {
                    width: 84px;
                    left: -90px;
                }
            }

            h3 {
                font-size: 86px;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 4.3px;
            }
        }

        .bio_right {
            max-width: 644px;
        }
    }
}

@media only screen and (max-width: 1650px) {
    .photo_slider {
        .main_container {
            max-width: 950px;
            
            .slider_parent {
                .slide_block {

                    .img_wrap_2 {
                        width: 100%;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1450px) {
    .photo_slider {
        .main_container {
            max-width: 870px;
        }

        .slider_parent {
            .slide_block {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .item_section {
        .item_left {
            max-width: 590px;
        }

        .news_pagination {
            margin: 46px auto 0 auto;
            max-width: 354px;
        }
    }
}

@media only screen and (max-width: 1440px) {

    .header {
        .nav {
            .nav_link {
                gap: 12px;
            }
        }
    }

    .coperation {
        .coperation_title_two {
            margin-top: 100px;
        }
    }

    // .error {
    //     .glitched {
    //         font-size: 450px;
    //     }
    // }

    .video {
        .video_img {
            height: 420px;

            .video_main_img {
                object-fit: cover;
            }
        }
    }

    .footer {
        .footer_bottom {
            .footer_link {
                gap: 12px;
                .footer_item {
                    a {
                        font-size: 16px;
                    }
                }
            }

        }
    }
}

@media only screen and (max-width: 1350px) {
    .bio {
        .main_container {
            padding: 0;
            flex-direction: column;
        }

        .bio_line {
            display: none;
        }

        .bio_title_top {
            top: 30px;

            .breadcrumbs {
                margin: 0 0 48px 0;
            }
        }

        .bio_right {
            padding: 0 20px;
            max-width: 100%;
            width: 100%;
            margin-bottom: 100px;

            .bio_right_statistic {
                padding: 0 20px;
                span {
                    width: 100%;
                    text-align: center;
                    margin-top: 16px;
                    margin-bottom: 8px;
                }
                .statistic_block {
                    background-color: $--Primary-Red;
                }

                .statistic_in {
                    background-color: $--Primary-Red;
                }
            }
        }

        .bio_left {
            overflow: hidden;
            top: 0;
            margin-top: 0;
            padding-top: 100px;
            width: 100%;
            position: relative;
            @include flex-full-center;

            .bio_mobile_line {
                // transform: rotate(2deg);
                width: 100%;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                z-index: -1;
            }

            .bio_user {
                width: 68%;
                max-width: 543px;
            }

            .bio_left_logo {
                width: 115px;
                top: auto;
                bottom: 55px;
                right: 43px;
            }
        }

        .bio_right_title {
            padding-top: 100px;

            h2 {
                font-size: 80px;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 4px;

                &:after {
                    display: none;
                }
            }

            h3 {
                margin-top: 24px;
                font-size: 80px;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 4px;
            }
        }
    }
}

@media only screen and (max-width: 1250px) {
    .header {

        .left_logo_media {
            display: block;
            width: 33px;
        }

        .logo_text {
            width: 222px;
        }

        .nav {
            display: none;

            .left_logo {
                margin-right: 0;
            }
        }

        .burger_open {
            display: block;
        }
    }

    .catalog {
        .catalog_card {
            width: calc(100% / 2 - 17px);

            img {
                height: 480px;
                object-fit: cover;
            }
        }
    }

    .basket_section {
        .basket_section_in {
            margin: 30px 0 100px 0;
            padding: 30px;

            .basket_block  {
                .basket_price {
                    display: none;
                }

                .item_basket_left {
                    width: 172px;
                    margin-right: 25px;
                    .item_basket_left_in {
                        padding: 12px 20px;
                    }
                }

                .basket_name {
                    .basket_text {
                        .price {
                            display: block;
                        }
                    }
                }

                .basket_total {
                    margin-right: 20px;
                    white-space: nowrap;
                }
            }

            .basket_section_number  {
                h6 {
                    padding: 24px 0;
                }
            }

            .basket_section_btns  {
                .main_btn {
                    width: 334px;
                }
            }
        }

    }

    .checkout {

        .checkout_catalog {
            width: 100%;
        }

        .checkout_catalog {
            position: static;
        }

        .checkout_in {
            flex-direction: column-reverse;
        }
    }

    .photo_slider {
        .swiper_child_wrap {
            display: none;
        }
    }

    .item_breadcrumbs {
        display: flex;
    }

    .item_section {
        .item_one_container {
            flex-direction: column;
            align-items: center;
        }

        .breadcrumbs {
            display: none;
        }

        .item_right {
            text-align: center;
        }

        .main_title {
            text-align: center;
        }

        .artikul {
            justify-content: center;
        }

        .main_title_two {
            text-align: center;
        }

        .item_size {
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 993px) {

    .video {
        .video_card {
            width: calc(100%);

            .video_img {
                height: 480px;
            }
        }
    }

    .contact {
        .contact_form {
            flex-direction: column;
        }

        .form_right {
            textarea {
                height: 146px;
            }
        }

        .main_btn {
            width: 100%;
        }

        p {
            max-width: 100%;
            margin-bottom: 104px;
        }

        .contact_bottom {
            h4 {
                color: $--Primary-White;
            }
        }
    }

    .footer {
        .footer_table {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 36px;

            .footer_table_link {
                @include flex-center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 24px;
    
                .footer_item {
                    a {
                        color: $--Primary-White;
                        font-family: $Inter;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 130%;
                    }
                }
            }

            .footer_bottom_table {
                @include flex-center;
                justify-content: space-between;

                p {
                    color: $--Primary-White;
                    font-family: $Inter;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 100%;
                    opacity: 0.5;
                }

                .footer_policy_link {
                    display: block;
                    color: $--Primary-White;
                    font-family: $Inter;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 100%;
                    padding-bottom: 4px;
                    border-bottom: 1px solid $--Primary-White;
                }
            }
        }
        .footer_bottom {
            display: none;
            .desktop_link {
                display: none;
            }
        }
    }

    // photo
    .photo_slider {
        margin-bottom: 100px;

        h1 {
            margin-bottom: 48px;
        }

        .swiper_child_wrap {
            display: none;
        }
    }
    // photo end
    .checkout {
        .checkout_catalog {
            padding: 30px;
        }

        .checkout_form {
            padding: 30px;
        }

        .checkout_check {
            padding: 30px;
        }
    }

}

@media only screen and (max-width: 768px) {
    h1 {
        color: $--Primary-Black;
        font-family: $Bebas;
        font-size: 40px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 2px;
    }

    h2 {
        color: $--Primary-Black;
        font-family: $Bebas;
        font-size: 30px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 1.5px;
    }

    h3 {
        color: $--Primary-Black;
        font-family: $Bebas;
        font-size: 24px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 1.2px;
    }

    h4 {
        color: $--Primary-Black;
        font-family: $Bebas;
        font-size: 24px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 1.2px;
    }

    .subheader {
        color: $--Primary-Black;
        font-family: $Bebas;
        font-size: 18px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0.9px;
    }

    .news {
        .news_card {
            h6 {
                max-width: 100%;
            }
        }
    }

    .galery {
        .galery_wrapper {
            margin: 48px 0 100px 0;
            flex-direction: column;
            gap: 48px;

            .galery_card {
                padding-right: 10px;
            }
        }
    }

    .coperation {
        .coperation_form {
            .form_input {
                width: 100%;
                flex-direction: column;

                input {
                    width: 100%;
                    flex: auto;
                }
            }
        }

        .coperation_btn {
            .main_btn {
                width: 100%;
            }
        }

        p {
            max-width: 100%;
        }

        .swiper-wrapper {
            .swiper-slide {
                padding: 30px 25px;
                .coperation_card {
                    img {
                        width: 128px;
                        max-width: 128px;
                    }
                }
            }
        }

    }

    .donate {
        .coperation_form {
            .coperation_form_wrapper {
                flex-direction: column;

                textarea {
                    height: 100px;
                }

            }
        }

        .coperation_title_two {
            margin-top: 100px;
            margin-bottom: 36px;
        }

        .coperation_btn {
            .main_btn {
                width: 100%;
            }
        }

        p {
            max-width: 100%;
            margin-bottom: 100px;
        }
    }

    .shop {
        .shop_cards {
            padding: 0 10px 0 0;
            gap: 48px;
            margin: 48px 0 100px 0;
        }

        .shop_card {
            width: 100%;
        }
    }

    .thanks {
        .thanks_in {
            max-width: 100%;
        }
    }

    .catalog {
        .catalog_card_link {
            flex-direction: column;
            gap: 12px;
        }
    }

    // Photo
    .photo_slider {
        .slider_parent {
            display: flex;
            flex-direction: column;
            gap: 110px;

            .slide_block {
                height: auto;

                img {
                    width: auto;
                    max-width: 100%;
                    height: auto;
                }
            }

            .img_wrap {
                height: auto;
            }
        }
    }
    // Photo end
}

@media only screen and (max-width: 700px) {
    .catalog {
        .catalog_card {
            width: calc(100%);
            img {
                height: 320px;
            }
        }
    }

    .basket_section {
        .basket_section_in {
            margin: 30px 0 60px 0;
            padding: 20px;

            .basket_block_two {
                border-bottom: 1px solid #434343FF !important;
            }

            .basket_block {
                border-bottom: none;
                .basket_title {
                    display: none;
                }

                .basket_close_icon {
                    // margin: 0;
                    top: 0;
                    bottom: auto;
                }

                .item_basket_left {
                    margin-right: 0;
                }
            }
            
            .basket_block_two {
                text-align: center;
                flex-direction: column;

                .basket_name {
                    gap: 12px;
                    flex-direction: column;
                }

                .basket_close_media {
                    top: 20px;
                }
            }

            .media_title {
                display: block;
            }

            .basket_section_btns {
                align-items: center;
                flex-direction: column;

                .main_btn {
                    width: 240px;

                    span {
                        padding: 12px;
                    }
                }
            }
        }

    }

    .error {
        margin: 40px 0;
        .title_error {
            transform: scale(1.8);
        }

        .error_title {
            margin-top: 48px;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 2px;
            margin-bottom: 50px;
        }

        .error_bottom_title {
            margin-bottom: 0;
            margin-top: 50px;
        }

        .main_btn {
            margin-top: 30px;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 660px) {
    .bio {
        .bio_right_statistic {
            flex-direction: column;
            gap: 0;

            .statistic_left,
            .statistic_right {
                width: 100%;
            }
        }
    }

    .checkout_in {
        margin: 30px 0 60px 0;

        .checkout_left {
            h6 {
                font-size: 30px !important;
                margin-bottom: 20px !important;
            }
        }

        .input_address {
            .input_address_in {
                display: flex;
                flex-wrap: wrap;
                input {
                    width: calc(100% / 2 - 12px);
                }
            }
        }


        .checkout_catalog {
            padding: 20px;

            .checkout_catalog_block {
                flex-direction: column;
                gap: 16px;

                img {
                    width: 90px;
                }

                h5 {
                    font-size: 30px;
                }

                .checkout_catalog_block_left {
                    align-items: center;
                }
            }
        }

        .checkout_form  {
            padding: 20px;
            .input_block {
                flex-direction: column;
            }

            .input_block_one {
                margin-bottom: 24px;
            }
        }

        .input_address {
            flex-direction: column;

            .input_address_block {
                width: 100%;
    
                textarea {
                    height: 120px;
                }
            }
        }

        .checkout_check  {
            .checkout_btn {
                flex-direction: column;
    
                .main_btn {
                    width: 100%;
                }
    
                p {
                    text-align: center;
                }
            }
        }
    }

    .item_section {

        .news_bottomSwiper_wrapper {
            .news_pagination {
                margin: 0 auto;
            }
        }

        .item_one_container {
            margin: 30px 20px 45px 20px;
        }

        .item_left .item_card .bg_white {
            transform: translate(-5px, 1px);
        }

        .news_pagination {
            margin: 5px 0;
        }

        .item_left {
            max-width: 100%;
        }

        .item_basket {
            flex-direction: column;
        }

        .catalog_card_size {
            gap: 10px;
        }

        .item_basket_left, .item_basket_right {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .bio {

        .bio_title_top {
            top: 24px;

            .breadcrumbs {
                margin: 0 0 30px 0;
            }
        }

        .bio_left {
            .bio_left_logo {
                right: 0;
                bottom: 24px;
                height: 283px;
            }

            .bio_mobile_line {
                display: none;
            }

            .bio_320 {
                width: 100%;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                z-index: -1;
            }
        }

        .bio_right {
            margin-bottom: 60px;
        }

        .bio_right_title {
            padding-top: 60px;
            
            h2 {
                font-size: 60px;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 3px;
            }

            h3 {
                font-size: 60px;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 3px;
            }
        }

        .bio_right_text {
            margin-top: 30px;
            gap: 12px;

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 125%;
            }
        }
    }

    .menu_mobile {

        .mobile_menu_close {
            z-index: 2;
        }
        
        .logo {
            a {
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    width: 23px;
                    height: 68px;
                }

                svg {
                    position: absolute;
                    width: 135px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
        }

        .mobile_link {
            margin: 45px 0 30px 0;
        }
    }

}

@media only screen and (max-width: 576px) {
    .ticker {
        display: inline-block;
        animation: marquee 50s linear infinite;
    }

    .item_section  {

        .main_container {
            margin: 30px auto 60px auto;
        }
        .main_title_two {
            font-size: 40px;
        }
        .accordion {
            .accordion-content {
                p {
                    text-align: left;
                }
            }
        }

        .news_bottomSwiper_wrapper {
            .news_bottomSwiper  {
                h6 , h5  {
                    font-size: 30px;
                }

                h5  {
                    margin-bottom: 30px;
                }
            }
        }
    }

    
    
    .item-collection-1 {
        position: relative;
        left: 0%;
        animation: swap 50s linear infinite;
    }

    .catalog {
        .catalog_cards {
            margin: 30px 0 60px 0;
        }
        .catalog_card {

            .catalog_text {
                margin-top: 30px;
            }

            h6 {
                font-size: 30px;
            }

            .catalog_card_size {
                gap: 5px;

                .main_btn {
                    height: 49px;
                }
            }
        }
    }

    .thanks {
        .thanks_in {
            margin: 60px 0;
            padding: 60px 20px 81px 20px;
        }

        .main_title {
            margin: 30px 0 24px 0;
        }

        .main_link {
            margin: 0 20px;
            max-width: 100%;
        }
    }

    .shop {
        .shop_cards {
            gap: 30px;
            margin: 30px 0 60px 0;
        }

        .shop_card {
            width: 100%;

            h6 {
                margin-top: 30px;
                font-size: 30px;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 1.5px;
            }
        }
    }

    .coperation {
        .swiper-wrapper {
            .swiper-slide {
                padding: 28px 28px;
                .coperation_card {
                    img {
                        width: 84px;
                        max-width: 84px;
                    }
                }
            }
        }
    }

    .new {
        .text-1 {
            font-size: 16px;
        }

        .new_slider {
            margin-top: 30px;
        }

        .new_text_one {
            margin-bottom: 60px;
        }

        .new_video  {
            .new_btn {
                width: 60px;
            }
        }

        .new_bottom_red {
            padding: 20px 20px;
            margin-top: 60px;
            font-size: 30px;
        }

        .new_bottom_btns {
            margin: 60px 0;
        }
    }

    .donate {

        .coperation_title_two {
            margin-top: 0;
        }

        .donate_text {
            margin: 30px 0 60px 0;

            h3 {
                span {
                    display: block;
                }
            }
        }

        .donate_slider,
        .select_sum {
            h6 {
                font-size: 30px;
                margin-bottom: 30px;
            }
        }

        .donate_slider {
            margin-bottom: 60px;
        }

        .swiper-wrapper {
            .swiper-slide {
                height: 140px;
                padding: 28px;

                img {
                    width: 100%;
                }
            }
        }

        .select_sum  {
            margin: 60px 0;
            padding: 0 20px;

            .select_btns {
                gap: 12px;
                margin: 0 20px;
                flex-direction: column;
            }

            .main_btn {
                width: 100%;
            }
        }

        .coperation_form  {
            input, textarea {
                font-size: 16px;
            }
        }

        p {
            margin-bottom: 60px;
        }
    }

    .news {
        .news_slider {
            margin-top: 30px;
        }

        .news_pagination {
            margin-bottom: 60px;
        }
    }

    h1.main_title {
        font-size: 40px;
    }

    .breadcrumbs {
        margin: 24px 0 30px 0;
    }

    .header {
        padding: 10px 0;

        .left_logo_media {
            width: 23px;
            height: 68px;

            img {
                width: 100%;
            }
        }

        .logo_text {
            width: 135px;

            img {
                width: 100%;
            }
        }
    }   

    .video {

        .videos_cards {
            margin-top: 30px;
            gap: 30px;
        }

        .video_card {
            width: calc(100%);

            .video_img {
                height: 240px;
            }

            h6 {
                font-size: 30px;
                line-height: 100%;
                letter-spacing: 1.5px;
                margin: 30px 0 20px 0;
            }

            p {
                font-size: 16px;
                line-height: 125%;
            }
        }

        .main_btn {
            margin: 30px 0 60px 0;
            span {
                padding: 12px;
            }
        }
    }
    
    .contact {

        .main_title {
            margin-bottom: 24px;
        }

        .contact_form_wrapper {
            input,textarea {
                font-size: 16px;
            }
        }

        .contact_bottom {
            padding: 60px 0;
            .main_container {
                flex-direction: column;
            }

            a {
                span {
                    flex-shrink: 0;
                }
            }
        }
    }

    .footer {
        padding: 36px 0;
        .footer_table {
            display: none;
        }

        .footer_top {
            display: none;
        }

        .footer_mobile {
            @include flex-center;
            flex-direction: column;

            .logo_text {
                margin: 12px 0 30px 0;
            }

            .footer_link_media {
                margin-bottom: 30px;
                @include flex-center;
                flex-direction: column;
                gap: 24px;
    
                .footer_item {
                    a {
                        color: $--Primary-White;
                        font-family: $Inter;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 130%;
                    }
                }
            }

            .messenger {
                margin-bottom: 30px;
            }

            .footer_policy_link {
                margin-bottom: 34px;
                color: $--Primary-White;
                font-family: $Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 100%;
                padding-bottom: 4px;
                border-bottom: 1px solid $--Primary-White;
            }

            p {
                color: $--Primary-White;
                font-family: $Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 100%;
                opacity: 0.5;
            }
        }
    }

    // Photo
    .photo_slider {
        margin-bottom: 60px;

        h1 {
            font-size: 40px;
            letter-spacing: 2px;
            margin-bottom: 30px;
        }

        .slider_parent {
            display: flex;
            flex-direction: column;
            gap: 70px;

            .slide_block {
                .img_wrap {
                    width: 100%;

                    img {
                        max-height: 320px;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    // Photo end
}